<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
      </div>
    </div>

    <div class="container">
      

      <div class="card mb-3 w-100" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/Assets/images/profile.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1>About me</h1>
              <p class="card-text mb-5">My name is Saaimatul Huq. I graduated from University of Dhaka and I had been working as a Molecular Biologist for more than twelve years. With the changing world with huge dependency on software-based technology, I became interested to learn programming. In future I wish to work on Bioinformatics field that is a bridging between coding and molecular biology. Besides travelling, I spend my non-work time with my daughters. They have been a great inspiration for me to see life in a beautiful way.</p>
              
              <h2 class="mb-3">Love to do:</h2>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Indoor planting</li>
                <li class="list-group-item">Travelling</li>
                <li class="list-group-item">Programming</li>
              </ul>

              <a href="/Assets/cv.pdf" class="btn btn-primary btn-lg mt-3">Resume</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    