<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Welcome to the <%= title %> Page</p>

        <div class="my-5">
          <h2>Saaimatul Huq</h2>
          <p>Welcome to my express portfolio site. I would like to introduce with some projects that I have done as a student of software engineering. It introduces some services available for Molecular Biology Research. Anyone interested to make their own web application for business or personal reason can get a look here. You will find service that I am really passionate about is designing your home or workplace as per your dreams.
          </p>
          <p>Student ID: 301019618</p>
          <p>Program: Software Engineering Technology</p>

        </div>

        <div class="my-5">
          <h2>Mission Statement</h2>
          <p>We offer different kind of services. Services include synthesis of Primers for Molecular Biotechnology research. We believe in your pursuit and share your goals. In the highly competitive and ever-changing biotech market, we render the best purified product in life science research. We also provide Web development services for startups, mid-sized companies, and enterprises which uncover the Capabilities of Web Apps With Modern Technologies. We ensure On Time Delivery. In interior designing market Our designs inspire and elevate the hearts and minds of all those who lay eyes on it. Our mission is to positively influence the lives of all customers with whom we have the pleasure of working, and leave a lasting impression on their minds and imagination.
          </p>
        </div>

        <a href="/about" class="btn btn-primary btn-lg mx-auto w-25 d-block">About</a>

      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    