<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Welcome to the <%= title %> Page</p>

        <div class="my-5">
          <h2>Saaimatul Huq</h2>
          <p>Welcome to my favourite books list page. I would like to take you to some of my favourite books list which I created in the MongoDB Database as part of midterm test of COMP229 course. 
            You can make an user account going to the login page and add or delete or edit information on books. That can enrich the list.
          </p>
          <p>Student ID: 301019618</p>
          <p></p>Course: COMP229</p>
          <p></p>Course Name: Web Application Development</p>
          <p>Program: Software Engineering Technology</p>

        </div>

        
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    