<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Find here some of the projects that I did through the semesters</p>
      </div>
    </div>

    <div class="container">

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/Project1.png" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>Evaluation Form Creation</h2>
              <p class="card-text">An instructor evaluation form was created for an educational institute.</p>
            
              <a href="http://studentweb.cencol.ca/shuq7/Assignment-4/assignment4.html" class="btn btn-primary btn-lg">Project</a>

            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">

          <div class="col-md-7">
            <div class="card-body">
              <h2>Web Interface Design Term project</h2>
              <p class="card-text">A public website was created assuming a product reqeust from a real estate agent consisting of at least 7 pages. The website detailed the information on recent listing of properties, description with images,their location, prices, how to contact.</p>
        
              <a href="http://studentweb.cencol.ca/shuq7/TermProject/Homepage.html" class="btn btn-primary btn-lg">Project</a>

            </div>
          </div>
          <div class="col-md-5">
            <img src="/Assets/images/Project2.png" class="card-img" alt="...">
          </div>
        </div>
      </div>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/Assets/images/Project3.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2>COMP213 Project</h2>
              <p class="card-text">A html based web page for a product was created for online marketting. The product chosen was a camera. It was done using Microsoft Expresion Web 4.  </p>
            
              <a href="http://studentweb.cencol.ca/shuq7/Assignment-3.Saaima/Assignment3.html" class="btn btn-primary btn-lg">Project</a>

            </div>
          </div>
        </div>
      </div>

    </div>
    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    