<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 



  <main class="mb-5">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %> Available</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Primer Designing</h5>
              <p class="card-text">Enabling you to solve the toughest problems in life science. Simplify your research needs with accurate and reliable results. We Supply Modified & Unmodified Oligos. Obtain Optimal Purity & Yield w/ A Dramatically Faster Purification Process. Ensures Highest Performance. Custom Synthesis available.</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Application Development</h5>
              <p class="card-text">We are a creative team of designers, developers, and strategists, building elevated websites.  An ideal fit for companies that have ongoing design and development needs. We provide unlimited Pages, unlimited revision.</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="/Assets/images/Service3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Interior Designing</h5>
              <p class="card-text">Interior design is about bringing order and coherence to space just like web design. Explore your space in reality and Modify in Real-Time. We ensure minimum disruption, Modular construction, rapidly deployable. We love Green, We Love Nature.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    